main{
    background-color: bisque;
}
footer{
    background-color: black;
    color: white;
}
nav{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
}
ul {
    list-style: none;
}
li {
    margin: 10px;
}