@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu_icon {
    height: 25px;
    color: #fff;
}

body {
    font-family: 'PT Sans', sans-serif;
}
nav {
    background: #3BBEEC;
    height: 80px;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.nav_contenedor {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    font-size: 1.5em;
}
.nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 2em;

}
.nav_item{
    color: #fff;
    text-decoration: none;
}
.nav_item:hover {
    color: yellow;
    transition: all .5s;
}


.nav_input, .nav_label {
    display: none;
}
/*---Footer---*/
.footer {
    width: 100%;
    height: 40px;
    background-color: #3BBEEC;
    bottom: 0;
    margin-top: 20px;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
}
.card {
    margin-top: 20px;
}
/*---Sobre Nosotros----*/

.title{
    font-weight: 500;
    text-align: center;
    margin: 20px 0 ; 
    display: block;
}
.flex_sobre{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
.text-sobre {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-top: 20px;
    text-align: justify;
}
@media screen and (max-width: 767px ){
    .nav_label{
        display: block;
        cursor: pointer;
    }
    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #FFAA6F;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.5s ease-in-out;
        z-index: 100

    }
    .nav_input:checked + .nav_menu {
        clip-path: circle(100% at center);
    }
    .contenedor_menu{
        padding-top: 20px; 
    }
    .footer {
        position: absolute;
        bottom: 0;
    }
}
@media screen and (min-width: 768px ) and (max-width: 1023px){
    .contenedor_menu{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        padding-top: 20px;
    }
    .footer {
        position: absolute;
        bottom: 0;
    }
}
@media screen and (min-width: 1024px ){
    .contenedor_menu{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        padding-top: 20px;
    }
    .footer {
        position: absolute;
        bottom: 0;
    }
}